.container-button-card {
  z-index: 100;
  width: 300px;
  margin: 2rem auto;
  border-radius: 8px;
  overflow-wrap: break-word;
}

.button-card {
  background-color: $secondaryColor;
  border: 2px solid $primaryColor;
  border-radius: 8px;
  height: 170px;
  box-shadow: $shadowButtons;
  text-decoration: none;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  color: $primaryColor;
  width: 100%;

  &:active {
    box-shadow: unset;
  }
}

.big {
  height: 170px;
}
.small {
  height: 90px;
}
.desplegable-button-card {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: -8px;
  background-color: $secondaryColor;
  padding: 1rem 2rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 100px;
  z-index: -100;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
@-webkit-keyframes slidein {
  0% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes slidein {
  0% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0);
  }
}
