.delivery-box-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.destination-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.delivery-box{
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  input[type="radio"] {
    display: none;
   
  }
  .testicon{
    margin: 20px 0px -35px 0px;
    z-index: 2;
  }
  label {
    display: inline-block;
    cursor: pointer;
    padding: 3rem 0.5rem 1rem 0.5rem;
    margin: 5px;
    border-radius: 8px;
    box-shadow: $shadowButtons;
    background-repeat: no-repeat;
    background-position: center 8px;
    background-image: url('../img/paquetesmallBlack.svg');
   
  }
  input[type="radio"]:checked+label {
    background-color: $primaryColor;
    color: $secondaryColor;
    background-image: url('../img/paquetesmall.svg');
}
}

