.column-center{
  gap: 1rem;
}

.input-primary{
  width: 100%;
  min-width: 267px;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 20px;
}
.input-third{
  min-width: 267px;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 20px;
}

h3{
  color: #FF8C60;
}