// variables
$background: #f0f0f0;
$primaryColor: #ff8c60;
$secondaryColor: #ffffff;
$placeholder: #9b9b9b;
$colorText: #2e2e2e;
$shadowButtons: 0px 4px 16px rgba(0, 0, 0, 0.25);
$border-radius: 8px;
// React Legacy Styles
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
  min-height: 100vh;
  padding-bottom: 70px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#hidden {
  display: none;
}
button {
  text-decoration: none;
  border: none;
  cursor: pointer;
}
button:focus-visible {
  outline: 2px solid #6f6f6f;
}
.button {
  font-weight: 400;
  font-size: 16px;
  border-radius: 8px;
  background-color: $primaryColor;
  color: $secondaryColor;
  text-transform: uppercase;
  height: 45px;
  width: 207px;
  max-width: 100%;
  margin: 10px;
  box-shadow: $shadowButtons;
  &:active {
    box-shadow: unset;
  }

  @media (min-width: 450px) {
    width: 240px;
    height: 45px;
    font-size: 18px;
  }
}
.secondary-button {
  background-color: $secondaryColor;
  color: $primaryColor;
  border: 2px solid $primaryColor;
}
.input-primary {
  height: 37px;
  background: #ffffff;
  border: 1px solid #ff8c60;
  box-sizing: border-box;
  border-radius: 8px;
}

.input-secondary {
  height: 33px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #ff8c60;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 2px 2px;
}
.input-third {
  height: 100px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #ff8c60;
  box-sizing: border-box;
  border-radius: 8px;
}

.row-between {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.column-center {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input:focus,
textarea:focus {
  outline: 1px solid $primaryColor;
}
