.modal-login-title {
  text-align: center;
  height: 28px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2e2e2e;
}
.login-button {
  width: 207px;
  height: 45px;
  left: 84px;
  top: 474.88px;
}
.login-emailname,
.login-password {
  width: 243.85px;
  height: 37px;
  left: 65.58px;
  top: 355.53px;
  background: #ffffff;
  border: 1px solid #ff8c60;
  box-sizing: border-box;
  border-radius: 8px;
}
.login-form {
  align-items: center;
}
.button-primary {
  color: #ff8c60;
  width: 11px;
  height: 19px;
  left: 304px;
  top: 282px;
  background-color: #e5e5e5;
  border: none;
}
