.map-view {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.map {
  width: 80%;
  min-height: 55vh;
  margin: 1rem auto;
  display: block;
  border-radius: 11px;
}
