.modal-register-title {
    text-align: center;
    height: 28px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #2e2e2e;
  }

.register-data{
    width: 243.85px;
    height: 37px;
    left: 65.58px;
    top: 355.53px;
    background: #ffffff;
    border: 1px solid #ff8c60;
    box-sizing: border-box;
    border-radius: 8px;
  }
  .register-button {
    width: 207px;
    height: 45px;
    left: 84px;
    top: 474.88px;
  }
  .register-form {
    align-items: center;
  }