.resumen-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .resumen-section {
    border: 2px solid $primaryColor;
    border-radius: 8px;
    margin: 30px 0;
    background-color: #fff;
    padding: 2rem;
  }
}
.resumen-titles {
  color: $primaryColor;
  text-transform: uppercase;
  // text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
}
