.resumen-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 15rem;
  width: 20rem;
  margin: 0 auto;
  @media (min-width: 450px) {
    width: 30rem;
  }

  .resumen-section {
    border: 2px solid $primaryColor;
    border-radius: 8px;
    margin: 30px 0;
    background-color: #fff;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.resumen-titles {
  color: $primaryColor;
  text-transform: uppercase;

  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
}
