.button-back-shop {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  background-image: url("../img/iconBack.svg");
  background-repeat: no-repeat;
  background-position: center;
  align-self: baseline;
  justify-self: center;
}
